#add-project-modal {
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 30rem;
    height: 30rem;
    background-color: lightblue;
    border-radius: 1rem;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    text-align: center;
    

    #modal-title {
        display: flex;
        justify-content: space-around;

        span {
            position: absolute;
            margin-bottom: 4rem;
            font-size: 3rem;
            top: 10%;
            left: 8%;
            border-bottom: 1px solid black;
        }

        i {
            position: absolute;
            top: 2%;
            right: 5%;
            cursor: pointer;
        }

    }

    #modal-inputs {
        margin-top: 4rem;
        display: flex;
        flex-direction: column;

        .input-label {
            font-size: 1.5rem;
            margin-top: 1rem;
        }

        .input-field {
            margin-top: 0.5rem;
            margin-bottom: 0.2rem;
        }
    }

    button {
        margin-top: 2rem;
        cursor: pointer;
        font-size: 1.2rem;
    }

    button:hover {
        transform: scale(1.1);
        transition: 1s;
    }
}